html
{ width:100%;
  height: 100%;
}
body{
    margin:0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif, serif;
    background-color:honeydew;
}
#continer {
    width: 60%;
    height: 80%;
    position:absolute;
    text-align: center;
    background-color:yellowgreen;
    padding: 30px;
    top:20%;
    left:15%;
    border-radius:25px;

}
input[type="text"] {
    height: 25px;
    width: 140px;
}
input[type="email"], input[type="password"] {
    height: 25px;
    width: 283px;
}
input[type="submit"] {
    height: 40px;
    width: 300px;
    background-color: silver;
}
button {
    height: 40px;
    width: 150px;
    background-color:silver;
}

