<!DOCTYPE html>
<html>
<head>
    
    <title>ACADEMIC RECOMMENDATION</title>
</head>
<body>
    <center>

        <img src="../../static/app/img/jjjj.png" />
        <b>
            <p style="font-size:30px">ACADEMIC RECOMMENDATION</p>

            
        </b>

        <hr />
        </pr>


        <font face=“Arial” size="5" color="006633"><b><u>To be Completed By The Applicant</u></b></font>

        <br /><br />

              <form action="ACADEMIC RECOMMENDATION" method="">

                  <style>
                      p {
                          width: 700px;
                          border: 7px solid green;
                          position: center;
                      }
                  </style>
                  <p>

                      <form action="ACADEMIC RECOMMENDATION" method="">
                          <br /><br />
                          <label> Full name:</label>
                          <input type="text" name="full Name:" />
                          <br /><br />
                          <label> University of Graduation:</label>
                          <input type="text" name="full Name:" />
                          <br /><br />


                          <label> Department & Major :</label>
                          <input type="text" name="full Name:" />
                          <br /><br />
                          <label>Graduation's Degree:</label>
                          <input id="Diploma" type="radio" value="Diploma" name="d">Diploma
                          <input id="Bachelor" type="radio" value="Bachelor" name="d">Bachelor
                          <input id="Master" type="radio" value="Master" name="d">Master

                          <br /><br />
                          <label>Grade & GPA:</label>
                          <input type="text" name="full Name:" />

                          <br /><br />
                          <label>Studies student wishes to pursue :</label>
                          <input id="Master" type="radio" name="d" value="Master">Master
                          <input id="PhD" type="radio" name="d" value="PhD">PhD
                          <br /><br />
                          <label>Specialization in higher studies :</label>
                          <input type="text" name="full Name:" />
                          <br /><br />
                          <label>Mobile Num.:</label>
                          <input type="text" name="full Name:" />
                          <br /><br />
                          <label>Email:</label>
                          <input type="email" name="email" />
                          <br /><br />
                  </p>
                  <br /><br />

                  <font face=“Arial” size="5" color="006633"><b><u>To be completed by the Recommender by checking the appropriate box</u></b></font>


                  <br /><br /> <br /><br />


                  <table border="6" width="700" height="100" align="center" bgcolor="CCFFCC">
                      <thead>
                          <tr bgcolor="white">
                              <th>ATTRIBUTE / ABILITIES</th>
                              <th>Unable to Assess</th>
                              <th>Below Avg.</th>
                              <th>Average</th>
                              <th>Above Avg.</th>
                              <th>Superior</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td> Academic excellence</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>

                          </tr>
                          <tr>
                              <td> Initiative & Motivation</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td> Expressing ideas</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>

                          </tr>
                          <tr>
                              <td> Critical Thinking</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td> Ability to accept & utilize criticism</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td> Self-confidence & responsibility</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td>Ability to plan & execute research </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td>Acquiring Research technique </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>

                          </tr>
                          <tr>
                              <td>Creativity & Originality </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td> Linguistic skills</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td>General Knowledge</td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                              <td><input id="Radio1" name="d" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td> Overall Evaluation</td>
                              <td><input id="Radio1" name="h" type="radio" /> </td>
                              <td><input id="Radio1" name="h" type="radio" /> </td>
                              <td><input id="Radio1" name="h" type="radio" /> </td>
                              <td><input id="Radio1" name="h" type="radio" /> </td>
                              <td><input id="Radio1" name="h" type="radio" /> </td>
                          </tr>
                          <tr>
                              <td> Notes about the applicant: </td>
                              <td colspan="5"><textarea id="TextArea1" rows="3" cols="60"></textarea></tdcolspan="5">



                          </tr>
                      </tbody>
                  </table>

                  <br /><br />
                  <table border="6" width="300" height="50" align="center" bgcolor="CCFFCC">
                      <tr bgcolor="white">
                          <th colspan="6">Faculty Dean</th>
                      </tr>
                      <tr>
                          <td> Name:</td>
                          <td><input id="Text1" type="text" /> </td>
                          <td> Signature:</td>
                          <td><input id="Text1" type="text" /> </td>
                          <td> Date:</td>
                          <td><input id="Text1" type="text" /> </td>

                      </tr>

                  </table>

                  <br /><br />
                  <table border="6" width="300" height="50" align="center" bgcolor="CCFFCC">
                      <tr bgcolor="white">

                          <th colspan="6">Recommender's</th>
                      </tr>

                      <tr>
                          <td> Recommender's Name:</td>
                          <td><input id="Text1" type="text" /> </td>
                          <td> Academic Position:</td>
                          <td><input id="Text1" type="text" /> </td>
                          <td> Academic Department:</td>
                          <td><input id="Text1" type="text" /> </td>
                      </tr>
                  </table>
                  <br />
                  \
                  <h1 align="centet"> Faculty's Official seal</h1>
              </form>
    </center>
</body>

<input type="submit" class="btn btn-sm btn-info"  value="add">
</html>
